<?xml version='1.0' encoding='utf-8'?>
<widget id="dev.potatoarchivist.studentapp" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>StudentApp</name>
    <description>Sample Apache Cordova App</description>
    <author email="josiahfu@gmail.com" href="https://github.com/JosiahFu">
        Josiah Fu
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <!-- <icon src="res/icon.png"/> -->
    <platform name="android">
        <icon background="res/icon-android-bg.png" density="xxxhdpi" foreground="res/icon-android.png" />
    </platform>
    <platform name="ios">
        <icon src="res/icon-ios.png" width="120" height="120" />
    </platform>
    <platform name="electron">
        <icon src="res/icon.png" />
        <icon src="res/icon@2x.png" />
    </platform>
</widget>
